.DS_Store
nvim-setting/nvim/dein/repos/github.com
nvim/lua_old
.cache
nvim-setting/nvim/dein
.vimsessions
.luarc.json

zsh/.zshrc.local
zsh/.zsh_history
zsh/.zshrc.org
zsh/.zcompdump
zsh/gitstatus
zsh/.zsh_sessions
zsh/.initialized

git/credentials

*-lock.json
