[submodule "rust-git-prompt"]
	path = rust-git-prompt
	url = https://github.com/kons-9/rust-git-prompt.git
[submodule "zsh-setting/zsh/rust-git-prompt"]
	path = zsh-setting/zsh/rust-git-prompt
	url = https://github.com/kons-9/rust-git-prompt.git
