[Unit]
Description=Remap keys on Wayland

[Service]
KillMode=process
Restart=always
ExecStart=/home/toshiki/.xdg/data/rust/cargo/bin/xremap /home/toshiki/dotfiles/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
User=root
Group=root

[Install]
WantedBy=default.target


